.order {
  position: relative;
  padding-bottom: 170px;
  &__img {
    position: relative;
  }
  &__cup {
    position: relative;
    z-index: 1;
  }
  &__elipse {
    position: absolute;
    left: 90px;
    top: 110px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-bottom: 60px;
  }
  &__img-cup{
    position: absolute;
    right: 0;
  }
}
